@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #1976D2;
    --light-blue: #E3F2FD;
    --dark-blue: #0D47A1;
}

body {
    font-family: 'Roboto', sans-serif;
}

textarea {
    background-color: var(--light-blue);

}